 @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Nunito&display=swap');

 * {
     padding: 0;
     margin: 0;
     border: none;
     text-decoration: none;
 }

 body {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     font-family: Nunito, sans-serif;
     background-image: linear-gradient(to bottom, #4220d1, #006eff, #0097f2, #00b7c8, #00d1a2, #3fcf7b, #69ca4d, #90c200, #a9a300, #ba8100, #c25c00, #c22e01);
 }

 /* heading and logo */

 header {
     background: #047cea;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }


 h1,
 h2 {
     font-family: "Mochiy Pop One", sans-serif;
     text-transform: uppercase;
     letter-spacing: 4px;
     color: black;
     text-align: center;
 }

 h3 {
     font-family: "Mochiy Pop One", sans-serif;
     text-transform: uppercase;
     letter-spacing: 4px;
     color: black;
     text-align: center;
     padding-bottom: 10px;
     padding-top: 15px;
 }

 b {
     font-weight: 900;
     text-transform: uppercase;
     font-family: "Mochiy Pop One", sans-serif;
 }

 #logo {
     display: flex;
     /* float: left; */
     /* text-align: center; */
     font-size: 250%;
     margin: 10px;
     color: #c0c0c0;
     justify-content: center;
 }

 /* navigation style */

 #menu {
     display: flex;
     font-size: 110%;
     letter-spacing: 4px;
     justify-content: flex-end;

 }

 #menu,
 #logo {
     line-height: 50px;
 }

 #menu li {
     /*float: right;*/
     list-style-type: none;
     margin: 10px;
     color: #c0c0c0;
 }

 #menu a {
     text-decoration: none;
     color: inherit;
     font-family: "Mochiy Pop One", sans-serif;
 }

 #menu a:hover {
     border-bottom: 1px solid red;
 }

 .active {
     border-bottom: 1px solid red;
 }

 /* hero image */


 #hero-image {
     height: 65vh;
     width: 100%;
     background: url(../images/d82ee50ba90ce9bfe4836be3e0730dcb.jpeg) no-repeat center center;
     background-size: cover;
 }

 #image-2 {
     height: 575px;
     width: 100%;
     background: url(../images/1200px-Nintendo.svg.png) no-repeat center center;
 }

 /* flex-container */

 .flexbox-container {
     display: flex;
     align-items: center;
     flex-direction: column;
     padding-top: 50px;
     padding-bottom: 50px;
 }

 .flexbox-item {
     width: 1500px;
     margin: 20px;

 }

 .flexbox-item-1 {

     background-color: rgb(235 222 222 / 72%);
     min-height: 100px;
     flex-shrink: 1;


     box-shadow: 0px 0px 10px 5px black;
     border-radius: 1% / 1%;
     order: 2;
 }

 .flexbox-item-2 {
     min-height: 100px;
     flex-grow: 3;

     text-align: center;
     background-color: rgb(235 222 222 / 72%);
     box-shadow: 0px 0px 10px 5px black;
     border-radius: 1% / 1%;
     order: 1;

 }


 ul li {
     padding: 10px;
     color: #41423d;
 }

 p {
     color: #41423d;
     letter-spacing: 0.3px;
     text-align: left;
     font-family: Nunito, sans-serif;
     font-weight: lighter;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
     font-size: large;
 }

 .flexbox-container li {
    font-size: larger;
 }

 /* footer links */

 .social-meida {
     background: #161516;
 }

 /* sign-up-form */

 .sign-up-form {
     width: 350px;
     box-shadow: 0px 0px 10px 5px black;
     background: #f50909;
     padding: 25px;
     margin: 8% auto 0;
     text-align: center;
 }

 .sign-up-form h2 {
     color: blue;
 }

 form {
     width: 300px;
     margin-left: 25px;
 }

 form label {
     display: flex;
     margin-top: 25px;
     font-size: 18px;
 }

 #submit {
     background-color: blue;
     border: none;
     color: coral;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     box-shadow: 0px 0px 10px 5px black;
 }

 #name {
     font-family: Nunito, sans-serif;
     font-weight: 10px;
     text-align: left;
 }

 /* font awsome logos */
 .far {
     color: white;

 }

 .fab {
     font-size: 40px;
     color: #c0c0cb;
     padding-right: 20px;
     padding-bottom: 20px;
 }

 .links {
     display: flex;
     justify-content: center;
 }

 /* character containers */

 .character-container {
     display: flex;
     background: rgb(235 222 222 / 72%);
     justify-content: space-evenly;
   
 }

 .character-bio-box-1 {
     background-color: rgb(235 222 222 / 72%);
     box-shadow: 0px 0px 10px 5px black;
     border-radius: 1% / 1%;
     max-width: 19%;

 }

 .character-bio-box-2 {
     background-color: rgb(235 222 222 / 72%);
     box-shadow: 0px 0px 10px 5px black;
     border-radius: 1% / 1%;
     max-width: 19%;
 }

 .character-bio-box-3 {
     background-color: rgb(235 222 222 / 72%);
     box-shadow: 0px 0px 10px 5px black;
     border-radius: 1% / 1%;
     max-width: 19%;
 }

 .character-bio-box-4 {
     background-color: rgb(235 222 222 / 72%);
     box-shadow: 0px 0px 10px 5px black;
     border-radius: 1% / 1%;
     max-width: 19%;
 }

 .character-bio-box-5 {
     background-color: rgb(235 222 222 / 72%);
     box-shadow: 0px 0px 10px 5px black;
     border-radius: 1% / 1%;
     max-width: 19%;
 }

 img {
     width: 300px;
     border: 2px solid black;
 }

 .box1 {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    font-size: larger;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
 }

 .box2 {
    display: flex;
    padding: 20px;
    font-size: larger;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
 }

 .box3 {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    font-size: larger;
    justify-content: space-around;
    align-content: center;
    align-items: center;
 }